body{
    background-image: url(hahaha.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    z-index: 1000;
}

.navbar-nav{
    margin-bottom: 250px;
} 
.nav-item {
    padding: 5px 0;
}

.nav-item a {
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all .55s ease;
}

.nav-item a:hover {
    color: rgb(255,5,30);
}

.navbar-brand{
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

/*----cerita----*/
img{
    width: 400px;
    margin-bottom: 10px;
    margin-left: 10%;
}

img:hover{
    width: 40%;
    transition: 1.5s ease;
}

.hero{
    color: white;
}
